@model DuzceWelcome
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/font/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/animate.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">
<link href="~/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="~/owl-carousel/owl.theme.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/isotope-docs.css" media="screen">
<link rel="stylesheet" href="~/css/baguetteBox.css">
<hr />
<form method="post" asp-controller="AdminPanel" asp-action="UpdateDuzce_Welcome">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">

            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control" value="@Model.Date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" value="@Model.Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control">@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <textarea asp-for="Name" class="form-control">@Model.Name</textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task"></label>
                <textarea asp-for="Task" class="form-control">@Model.Task</textarea>
                <span asp-validation-for="Task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" value="@Model.ImageUrl" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-lg btn-warning">Güncelle</button>

        </div>
        <div class="col-md-2"></div>
    </div>
</form>

